* {
    box-sizing: border-box;
    font-size: 18px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#calculadora {
    width: 480px;
    padding: 5px;
    display: grid;
    background-color: #CCC;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

button.destaque {
    background-color: aqua;
}